.nav-container{
  position: relative;
  width: 100%;
  border-radius: 10px;
  padding: 2px;
  overflow: hidden;
  height: 60px;
}
.nav-container::before{
  
  content: '';
  position: absolute;
  top: -100%;
  /* left: -10%; */
  width: 1000px;
  height: 1000px;
  background: linear-gradient(0deg,transparent,
  transparent,#45ff83,#45f3ff,#45f3ff
  );
  transform-origin: bottom right;
  z-index: 1;
  animation: animate 4s linear infinite;
}
.nav-container::after{
  
  content: '';
  position: absolute;
  top: -100%;
  left: -10%;
  width: 1000px;
  height: 1000px;
  background: linear-gradient(0deg,transparent,
  transparent,#ca45ff,#45f3ff,#45f3ff
  );
  transform-origin: bottom right;
  z-index: 1;
  animation: animate2 4s linear infinite;
  animation-delay: -6s;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}
@keyframes animate2 {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
  
}


.inside-nav{
  position: relative;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 100;
  
}
.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg{
  background: #2b2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
  position: relative;
}
.left-container{
  color: white;
  width: 100%;
  height: 100%;
}